Repository Emurgo/yoroi, pull requests merged in 2021-07, with the labels that each got.

#1448 Catalyst registration password fix
  src/components/Catalyst/Step4.js
  src/utils/format.js
Labels: catalyst

#1421 Remove Byron-era rust bindings and related logic
  .circleci/config.yml
  get_rust.sh
  package.json
  rust.md
  src/actions.js
  src/components/WalletInit/CreateWallet/CreateWalletScreen.js
  src/crypto/KeyStore.js
  src/crypto/WalletInterface.js
  src/crypto/byron/__fixtures/fake_wallet.json
  src/crypto/byron/__fixtures/long_address.json
  src/crypto/byron/__fixtures/transaction_inputs.json
  src/crypto/byron/plate.js
  src/crypto/byron/plate.test.js
  src/crypto/byron/util.js
  src/crypto/byron/util.test.js
  src/crypto/chain.js
  src/crypto/chain.test.js
  src/crypto/commonUtils.js
  src/crypto/commonUtils.test.js
  src/crypto/customPin.js
  src/crypto/shelley/ShelleyWallet.js
  src/crypto/shelley/catalystUtils.js
  src/crypto/shelley/chain.js
  src/crypto/shelley/plate.test.js
  src/crypto/walletManager.js
  yarn.lock
Labels: NFC

#1478 Stackchain/Started refactoring to allow multiple backend providers
  .tool-versions
  scripts/faucet_tada_alonzo.sh
  src/actions.js
  src/actions/history.js
  src/components/Delegation/StakingDashboard.js
  src/components/Receive/ReceiveScreenNavigator.js
  src/components/TxHistory/TxDetails.js
  src/components/TxHistory/styles/TxDetails.style.js
  src/components/UiKit/Copy.js
  src/components/WalletInit/CreateWallet/CreateWalletScreen.js
  src/components/WalletInit/CreateWallet/MnemonicCheckScreen.js
  src/components/WalletInit/CreateWallet/MnemonicShowScreen.js
  src/components/WalletInit/RestoreWallet/RestoreWalletScreen.js
  src/components/WalletInit/RestoreWallet/VerifyRestoredWallet.js
  src/components/WalletInit/RestoreWallet/WalletCredentialsScreen.js
  src/components/WalletInit/WalletInitScreen.js
  src/components/WalletSelection/WalletListItem.js
  src/components/WalletSelection/WalletSelectionScreen.js
  src/components/WalletSelection/styles/WalletListItem.style.js
  src/config/networks.js
  src/config/types.js
  src/crypto/Wallet.js
  src/crypto/WalletInterface.js
  src/crypto/shelley/ShelleyWallet.js
  src/crypto/shelley/transactionCache.js
  src/crypto/walletManager.js
  src/i18n/locales/en-US.json
  src/selectors.js
  src/state.js
  src/utils/format.js
  src/utils/useCopy.js
Labels: alonzo

#1447 Stackchain/Update Alonzo auxiliary data
  package.json
  src/crypto/shelley/HaskellShelleyTxSignRequest.js
  src/crypto/shelley/ShelleyWallet.js
  src/crypto/shelley/catalystUtils.js
  src/crypto/shelley/catalystUtils.test.js
  src/crypto/shelley/delegationUtils.js
  src/crypto/shelley/ledgerUtils.js
  src/crypto/shelley/metadataUtils.js
  src/crypto/shelley/transactionUtils.js
  src/crypto/shelley/transactions.js
  yarn.lock
Labels: alonzo
